.fundo1 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.produtos > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-top: 5rem;
}

.produtos > div:first-of-type > h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.produtos > div:first-of-type > p {
    font-size: 1rem;
    font-weight: 400;
}

.produtos > div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}


.box {
    box-shadow: 0px 8px 24px -4px #00000040;
    border-radius: 16px;
    width: 22.5rem;
    height: 30.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 6rem;
}


.box > img {
    width: 13.063rem;
    height: 18.125rem;
}

.box > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.box > div > h2 {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 700;
}

.box > div > p {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.box > button {
    color: #1B1F1C;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #00EC5B;
    width: 12.063rem;
    height: 3.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.box > button:hover {
    background-color: #169e4a;
    transform: scale(1.2);
}


.fotos {
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 10rem;
}

.fotos > img {
    width: 34.9em;
    height: 50rem;
}

.foto_cima {
    background-color: #1B1F1C;
    width: 35rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.foto_cima > h2 {
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}

.foto_cima > p {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.barra {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.barra > span {
    background-color: #D3D3D3;
    color: #D3D3D3;
    border-radius: 50%;
    width: 0.563rem;
    height: 0.563rem;
    opacity: 19.5%;
}

.barra > span:hover {
    background-color: #FFFFFF;
    color: #FFFFFF;
    transition: 0.5s;
    opacity: 100%;
}

.foto_baixo {
    background-image: url("src/assets/barman.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto_baixo > h1 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}


.fundo2 {
    background-color: #00EC5B;
    width: 100%;
    height: 18.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fundo2 > img:first-of-type {
    margin-top: 8rem;
    width: 10.25rem;
    height: 12.5rem;
    rotate: -15deg;
}

.fundo2 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.fundo2 > div > h1 {
    color: #0E0E0E;
    font-size: 1.5rem;
    font-weight: 800;
}

.fundo2 > div > button {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    background-color: #1B1F1C;
    width: 12.063rem;
    height: 3.5rem;
    border-radius: 50px;
}

.fundo2 > img:last-of-type {
    width: 10.25rem;
    height: 12.5rem;
    rotate: 15deg;
}
 /*------------------------------------------------*/
 @media (max-width: 735px) {
    .produtos > div:last-of-type {
        gap: 1.5rem;
    }


    .box {
        width: 21rem;
    }

    .fotos {
        align-items: center;
        justify-content: center;
        margin-top: 8rem;
    }

    .fotos > img {
        width: 20rem;
        object-fit: cover;
    }

    .foto_cima {
        width: 22.375rem;
    }

    .foto_baixo {
        width:  22.375rem;
    }
 }

  /*------------------------------------------------*/


  @media (max-width: 375px) {
    .produtos > div:last-of-type {
        flex-direction: column;
        gap: 0rem;
        align-items: center;
    }

    .box {
        width: 20.375rem;
    }

    .fotos {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .foto_cima {
        width: 20rem;
    }
    .foto_cima > h2 {
        font-size: 1rem;
    }

    .foto_baixo {
        width: 20rem;
    }

    .fundo2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 23.125rem;
    }

    .fundo2 >img:first-of-type {
        margin-top: 0rem;
        rotate: 0deg;
        height: 16.386rem;
    }

    .fundo2 > img:last-of-type {
        width: 0rem;
        height: 0rem;
        margin-bottom: 8rem;
    }
  }