.footer {
    background-color: #1B1F1C;
    width: 100%;
    height: 49.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.titulo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo > h1 {
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 700;
}

.titulo > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.titulo > div > img {
    width: 1.125rem;
    height: 1.125rem;
}

.titulo > div > p {
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.form > div {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form > div:first-of-type > label {
    color: #00EC5B;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.form > div:first-of-type > input {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 1rem;
    background-color: gray;
    border: 1px  solid #00EC5B;
    width: 34.688rem;
    height: 2.875rem;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.info > div {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info > div > label {
    color: gray;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.info > div:first-of-type > input {
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 1rem;
    background-color: #1B1F1C;
    border: 1px solid #FFFFFF;
    width: 10rem;
    height: 2.875rem;
}

.info > div:last-of-type > input {
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 1rem;
    background-color: #1B1F1C;
    border: 1px solid #FFFFFF;
    width: 22.5rem;
    height: 2.875rem;
}

input::placeholder {
    color: #FFFFFF;
}

.form > div > label {
    color: gray;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.form > div > select {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
    background-color: #1B1F1C;
    width: 34.563rem;
    height: 2.875rem;
}

option::placeholder {
    color: #FFFFFF;
}

.form > div:last-of-type > textarea {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
    background-color: #1B1F1C;
    border: 1px solid #FFFFFF;
    width: 34.563rem;
    height: 8.188rem;
    resize: none;
}

.form > button {
    float: right;
    color: #1B1F1C;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #00EC5B;
    width: 12.063rem;
    height: 3.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.form > button:hover {
    background-color: #169e4a;
    transform: scale(1.2);
}



.rodape {
    background-color: #1B1F1C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15rem;
    align-items: center;
    padding-bottom: 3rem;
}

.rodape > p {
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.rodape > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rodape > div > p {
    color: #FFFFFF;
    font-size: 0.563rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

/*----------------------------------------------------------*/

@media (max-width: 735px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .titulo {
        margin-top: 5rem;
    }

    .titulo > div {
        align-self: center;
    }


    .info {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .info > div:first-of-type > input {
        width: 34.688rem;
        height: 2.875rem;
    }

    .info > div:last-of-type > input {
        width: 34.688rem;
        height: 2.875rem;
    }

    .form > button {
        width: 34.688rem;
    }
    
    .rodape {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .rodape > p {
        margin-top: 10em;
    }

}

/*----------------------------------------------------------*/

@media (max-width: 375px) {
    .titulo > h1 {
        font-size: 2rem;
    }

    .form > div:first-of-type > input {
        width: 20rem;
    }

    .info > div:first-of-type> input {
        width: 20rem;
    }

    .info > div:last-of-type> input {
        width: 20rem;
    }

    .form > div > select {
        width: 20rem;
    }

    .form > div:last-of-type > textarea {
        width: 20rem;
    }

    .form > button {
        width: 20rem;
    }
}