.header {
    background-image: url("src/assets/fundo-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50rem;
    align-items: center;
}

.topo > img {
    width: 8.375rem;
    height: 3.188rem;
    box-shadow: 0px 4px 4px 0px #00000040;
}


.topo > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.topo > div > img {
    width: 1.125rem;
    height: 1.125rem;
}

.meio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10rem;
    align-items: center;
}

.meio > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meio > div > h1 {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.meio > div > button {
    background-color: #00EC5B;
    width: 11.75rem;
    height: 3.5rem;
    border-radius: 50px;
    cursor: pointer;
    color: #101213;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.meio > div > button:hover {
    background-color: #169e4a;
    transform: scale(1.2);
}

.meio > img {
    width: 20.375rem;
    height: 35.875rem;
}

/*---------------------------------------------------- */

@media (max-width: 735px) {
    .header {
        padding-bottom: 6rem;
    }

    .topo {
        gap: 30rem;
    }

    .meio {
        gap: 3rem;
    }

    .meio > img {
        width: 18.5rem;
        height: 32.625rem;
    }

    .meio > div {
        gap: 1rem;
    }

    .meio> div > h1 {
        font-size: 3rem;
    }

    .meio > div > button {
        width: 11.75rem;
        height: 3.5rem;
    }
}

/*---------------------------------------------------- */
@media (max-width: 375px) {


    .topo {
        gap: 7rem;
    }

    .meio {
        display: flex;
        flex-direction: column;
    }

    .meio > div {
        gap: 4rem;
    }

    .meio > img {
        width: 13.25rem;
        height: 23.25rem;
    }
    
    .meio> div > h1 {
        text-align: center;
        font-size: 2.375rem;
    }

    .meio > div > button {
        width: 20.438rem;
        height: 3.5rem;
        font-size: 0.875rem;
    }
}